<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.socket.io/3.0.5/socket.io.js"></script>
    <link rel="icon" type="image/svg+xml" href="/realtimepool/assets/favicon.17e50649.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Old version</title>
    <script type="module" crossorigin src="/realtimepool/assets/index.5377ee34.js"></script>
    <link rel="modulepreload" href="/realtimepool/assets/vendor.4ff49bc2.js">
  </head>
  <body>
    <div id="container"></div>
    
  </body>
</html>
